.env
.venv/
.vscode/
src/connections/__pycache__/
src/modules/__pycache__/
model_metada.json
scheme_mapper.json
subjects_dataset_tables.json
subjects_dataset_tables_wide.json
subjects_dataset_operations.yaml
list_of_excel_files.json